.footer {
  margin-top: -50px;
  padding: 100px 0 3.125rem;
  background-color: $apple;
  color: $white;
  font-size: 0.875rem;
  clip-path: url(#wavy-line-1);

  a {
    color: $white;
    text-decoration: none;
    
    &:hover {
      color: $apple-tint-1;
      text-decoration: none;
    }
  }

  hr {
    margin: 1.875rem 0 2.5rem;
    border-top: dashed 1px $white;
  }

  &-col {
    margin-bottom: 1.875rem;
  }

  &-links-main {
    color: $mikado-yellow;

    a {
      color: $mikado-yellow;

      &:hover {
        color: $mikado-yellow-tint-1;
      }
    }
  }

  &-link-cta {
    border-bottom: dashed 1px;
    font-size: 1.125rem;
    font-weight: 700;
  }

  .list-seperator {
    font-size: 1rem;
  }
}

.icons-social {
  display: inline-block;
  margin-bottom: 0;

  .icon-item {
    &:not(:last-child) {
      margin-right: 0.75rem;
    }
  }
  
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.875rem;
    width: 2.875rem;
    border-radius: 50%;
    background-color: $mikado-yellow;
    color: $white;
    line-height: 1;
  }
}

.list-seperator {
  padding: 0;
  margin: 0;
  list-style: none;

  > li {
    display: inline-block;

    &:not(:last-child) {
      &::after {
        content: ' | ';
      }
    }
  }
}