.footer {
  position: relative;
  z-index: 2;
  margin-top: -50px;
  padding: 100px 0 3.125rem;
  background-color: $white;
  color: $white;
  font-size: 0.875rem;
  font-weight: 300;
  clip-path: url(#wavy-line-1);
  overflow: hidden;
      
  @include media-breakpoint-down(md) {
    padding: 90px 0 120px;
    clip-path: url(#wavy-line-sm-1);
  }
  @include media-breakpoint-down(sm) {
    padding: 60px 0 70px;
  }

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 7px;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $apple;
    clip-path: url(#wavy-line-1);

    @include media-breakpoint-down(md) {
      clip-path: url(#wavy-line-sm-1);
    }
  }

  a {
    border-bottom: dashed 1px transparent;
    color: $white;
    text-decoration: none;
    
    &:hover {
      border-bottom: dashed 1px;
      color: $mikado-yellow-tint-1;
      text-decoration: none;
    }
  }

  hr {
    margin: 1.875rem 0 2.5rem;
    border-top: dashed 1px $white;
    
    @include media-breakpoint-down(sm) {
      margin-top: 0;
    }
  }

  &-col {
    margin-bottom: 1.875rem;
  }

  &-links-main {
    color: $mikado-yellow;

    a {
      color: $mikado-yellow;

      &:hover {
        color: $mikado-yellow-tint-1;
      }
    }
  }

  &-link-cta {
    border-bottom: dashed 1px;
    font-size: 1.125rem;
    font-weight: 700;
  }

  &-address {
    margin-left: 1.625em;
    font-size: 1rem;
  }

  .list-seperator {
    font-size: 1rem;
  }

  .list-unstyled {
    margin-bottom: 0;
  }
}

.icons-social {
  display: inline-block;
  margin-bottom: 0;

  .icon-item {
    &:not(:last-child) {
      margin-right: 0.75rem;
    }
  }

  .btn-icon {
    border-bottom: none;

    &:hover {
      color: $white;
      border-bottom: none;
    }
  }
}