$logo-border-radius: (
  inner: $spacer / 4,
  outer: $spacer / 2
);

header {
  position: relative;
  background: $white;
  z-index: 10;
  // @include z-depth(8);
}

.nav-logo {
  position: relative;
  display: flex;
  flex-direction: column;
  bottom: -$spacer;
  padding: $spacer / 2;
  margin-top: -$spacer * 2;
  border-radius: map-get($logo-border-radius, outer);
  background: $white;
  @include z-depth(8);

  svg {
    flex: 1 1 100%;
    padding: map-get($logo-border-radius, outer) + map-get($logo-border-radius, inner);
    border: dashed 1px gray('300');
    border-top: none;
    border-radius: map-get($logo-border-radius, inner);
  }
}

%ham {
  content: '';
  height: 2px;
  width: 25px;
  transform-origin: center center;
  border-radius: 5px;
  background-color: currentColor;
}

.navbar {
  padding-bottom: 0;
  max-height: 125px;
  @include z-depth(6);

  &-nav-wrapper {
    @include media-breakpoint-down(md) {
      text-align: right;
    }
    @include media-breakpoint-up(lg) {
      align-self: stretch;
    }
  }

  &-collapse {
    @include media-breakpoint-down(md) {
      position: fixed;
      z-index: -1;
      top: 0;
      left: 0;
      padding-top: 100px;
      padding-bottom: 50px;
      width: 100%;
      height: 100vh;
      background-color: rgba($white, 0.95);
      overflow-y: auto;
    }
    @include media-breakpoint-up(lg) {
      align-items: stretch;
      height: 100%;
    }
  }

  &-toggler-icon {
    position: relative;
    color: theme-color('primary');
    transition: 0.35s ease-in-out;
    @extend %ham;

    &::before,
    &::after {
      @extend %ham;
      position: absolute;
      left: 0;
    }
  }

  &-toggler {
    margin-bottom: 0.5rem;

    &:focus {
      outline: none;
    }

    &.collapsed {
      .navbar-toggler-icon {
        &::before,
        &::after {
          transition: top 0.2s ease-in-out 0.35s, transform 0.35s ease-in-out;
        }
        &::before {
          top: -8px;
        }
        &::after {
          top: 8px;
        }
      }
    }

    &:not(.collapsed) {
      .navbar-toggler-icon {
        background-color: transparent; 

        &::before,
        &::after {
          top: 0;
          transition: top 0.2s ease-in-out, transform 0.35s ease-in-out 0.2s;
        }
        &::before {
          transform: rotate(225deg)
        }
        &::after {
          transform: rotate(315deg)
        }
      }
    }
  }

  .row {
    flex-basis: 100%;
  }

  .nav {
    &-link {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      padding-bottom: 1.5rem;
      padding-top: 1.5rem;
      font-size: 0.875rem;
      font-weight: 700;
      color: gray('600');


      @include media-breakpoint-up(lg) {

        &:hover {
          color: $daisy-bush;

          &::before {
            transform: scale(1);
          }
        }

        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          transform: scale(0);
          transform-origin: center center;
          width: 100%;
          height: 3px;
          background-color: $mikado-yellow;
          transition: 0.3s ease-in-out;
        }
      }
    }

    &-secondary {
      text-align: center;
      
      @include media-breakpoint-up(lg) {
        align-self: center;
      }

      &-items {
        margin-bottom: 0.875rem;
        font-size: 0.75rem;
      }

      &-link {
        text-decoration: underline;
      }

      &-button {
        @include media-breakpoint-up(lg) {
          display: block;
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  .dropdown {
    &-toggle {
      &::after {
        display: none;
      }
    }

    &-menu {
      padding: 1.25rem 0;
      text-align: center;
      
      @include media-breakpoint-up(lg) {
        top: calc(100% + 5px);
        left: 50%;
        transform: translateX(-50%);
        @include z-depth(8);

        &::before {
          content: '';
          position: absolute;
          z-index: -1;
          top: -12px;
          left: 50%;
          transform: translateX(-50%);
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 15px 15px 15px;
          border-color: transparent transparent $white transparent;
          // filter: drop-shadow(0 2px 2px rgba(0,0,0,0.1));
        }
      }
    }

    &-item {
      font-size: 0.875rem;
    }

    &-divider {
      margin-left: $dropdown-item-padding-x;
      margin-right: $dropdown-item-padding-x;
      border-top: 1px dashed gray('400');
    }
  }
}