$logo-border-radius: (
  inner: $spacer / 4,
  outer: $spacer / 2
);

header {
  position: relative;
  background: $white;
  z-index: 10;
}

.nav-logo {
  position: absolute;
  // display: flex;
  // flex-direction: column;
  // bottom: -$spacer;
  top: -($spacer / 2);
  padding: 0 ($spacer / 2);
  // margin-top: -$spacer * 2.5;
  // width: 100%;
  flex: 1 1 100%;
  border-bottom-left-radius: map-get($logo-border-radius, outer);
  border-bottom-right-radius: map-get($logo-border-radius, outer);
  background: $white;
  @include z-depth-transition;
  @include z-depth(8);

  &:hover {
    @include z-depth(16);
  }

  svg {
    // flex: 1 1 100%;
    padding: map-get($logo-border-radius, outer) + map-get($logo-border-radius, inner);
    width: 100%;
    border: dashed 1px gray('300');
    border-top: none;
    border-radius: map-get($logo-border-radius, inner);
    #rocket {
      transform-origin: bottom center;
    }
    &:hover #rocket {
      animation-name: launch;
      animation-duration: 2s;
      animation-fill-mode: forwards;
    }
  }
}

%ham {
  content: '';
  height: 2px;
  width: 25px;
  transform-origin: center center;
  border-radius: 5px;
  background-color: currentColor;
}

.navbar {
  perspective: 800px;
  position: absolute;
  left: 0;
  right: 0;
  padding-bottom: 0;
  max-height: 100px;
  @include z-depth(6);

  &-nav-wrapper {
    @include media-breakpoint-down(md) {
      text-align: right;
    }
    @include media-breakpoint-up(lg) {
      align-self: stretch;
    }
  }

  &-collapse {
    @include media-breakpoint-down(md) {
      position: fixed;
      z-index: -1;
      top: 0;
      left: 0;
      padding-top: 150px;
      padding-bottom: 50px;
      width: 100%;
      height: 100vh;
      background-color: $white;
      overflow-y: auto;
    }
    @include media-breakpoint-up(lg) {
      align-items: stretch;
      height: 100%;
    }
  }

  &-toggler-icon {
    position: relative;
    color: theme-color('primary');
    transition: 0.35s ease-in-out;
    @extend %ham;

    &::before,
    &::after {
      @extend %ham;
      position: absolute;
      left: 0;
    }
  }

  &-toggler {
    margin-bottom: 0.5rem;

    &:focus {
      outline: none;
    }

    &.collapsed {
      .navbar-toggler-icon {
        &::before,
        &::after {
          transition: top 0.2s ease-in-out 0.35s, transform 0.35s ease-in-out;
        }
        &::before {
          top: -8px;
        }
        &::after {
          top: 8px;
        }
      }
    }

    &:not(.collapsed) {
      .navbar-toggler-icon {
        background-color: transparent;

        &::before,
        &::after {
          top: 0;
          transition: top 0.2s ease-in-out, transform 0.35s ease-in-out 0.2s;
        }
        &::before {
          transform: rotate(225deg)
        }
        &::after {
          transform: rotate(315deg)
        }
      }
    }
  }

  .row {
    flex-basis: 100%;
  }

  .nav {
    &-fill {
      @include media-breakpoint-down(md) {
        margin-left: auto;
        margin-right: auto;
        max-width: 720px;
      }
      @include media-breakpoint-down(sm) {
        max-width: 540px;
      }
    }
    &-item {
      @include media-breakpoint-down(md) {
        // flex: 1 1 50%;
        // max-width: 50%;
        text-align: left;
      }
    }

    &-link {
      display: flex;
      align-items: center;
      position: relative;
      padding-bottom: 1.125rem;
      padding-top: 0.5rem;
      font-weight: 700;
      color: gray('600');

      @include media-breakpoint-down(md) {
        // justify-content: center;
        font-size: 2.25rem;

        .nav-link-icon {
          flex: 0 0 70px;
          margin-right: 10px;
        }
      }

      @include media-breakpoint-up(lg) {
        flex-direction: column;
        justify-content: flex-end;
        font-size: 0.875rem;

        &:hover {
          color: theme-color('secondary');

          &::before {
            transform: scale(1);
          }

          .nav-link-icon {
            color: gray('500');
          }
        }

        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          transform: scale(0);
          transform-origin: center center;
          width: 100%;
          height: 3px;
          background-color: $mikado-yellow;
          transition: 0.3s ease-in-out;
        }
      }

      &.active {
        color: theme-color('secondary');

        .nav-link-icon {
          color: gray('500');
        }

        .nav-link-text {
          @include media-breakpoint-down(md) {
            border-color: theme-color("accent");
          }
        }
      }

      &-icon {
        margin-bottom: 5px;
        height: 40px;
        color: gray('400');

        &-fill {
          fill: currentColor;
          transition: 0.3s;
        }
      }

      &-text {
        @include media-breakpoint-down(md) {
          border-bottom: solid 3px transparent;
        }
      }
    }

    &-secondary {
      text-align: center;
      white-space: nowrap;

      @include media-breakpoint-down(md) {
        margin-top: 50px;
      }

      @include media-breakpoint-up(lg) {
        align-self: center;
      }

      &-items {
        margin-bottom: 0.875rem;
        font-size: 0.75rem;
      }

      &-link {
        text-decoration: underline;
      }

      &-button {
        @include media-breakpoint-up(lg) {
          display: block;
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  .dropdown {
    &-toggle {
      &::after {
        display: none;
      }
    }

    &-menu {
      padding: 1.25rem 0;
      text-align: center;

      @include media-breakpoint-down(md) {
        border-radius: 0;
        background-color: theme-color("primary");
      }

      @include media-breakpoint-up(lg) {
        top: calc(100% + 5px);
        left: 50%;
        transform: translateX(-50%);
        @include z-depth(8);
      }

      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: -12px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 15px 15px 15px;
        border-color: transparent transparent $white transparent;
        // filter: drop-shadow(0 2px 2px rgba(0,0,0,0.1));

        @include media-breakpoint-down(md) {
          border-color: transparent transparent theme-color("primary") transparent;
        }
      }
    }

    &-item {
      font-size: 0.875rem;

      @include media-breakpoint-down(md) {
        color: $white;
        font-size: 1.125rem;
      }
    }

    &-divider {
      margin-left: $dropdown-item-padding-x;
      margin-right: $dropdown-item-padding-x;
      border-top: 1px dashed gray('400');

      @include media-breakpoint-down(md) {
        margin-left: 6rem;
        margin-right: 6rem;
        border-color: $white;
      }
    }
  }

  &-scrolled {
    .nav-logo {
      max-width: 50px;
      margin: 0;
      padding: 0;
      bottom: initial;
      top: -0.25rem;
      box-shadow: none;
      background-color: transparent;
      
      #atomic, #playgrounds, #funner {
        display: none;
      }
      svg {
        padding: 0;
        border: none;
      }
    }
    @include media-breakpoint-up(lg) {
      .nav-secondary-items {
        display: none;
      }
      .nav-link-icon {
        display: none;
      }
    }
  }
}
