.content-block {
  position: relative;
  z-index: 1;
  padding: 100px 0 140px;
  background-color: $white;
  background-size: cover;
  background-position: 50%;

  @include media-breakpoint-down(md) {
    padding: 90px 0 120px;
  }
  @include media-breakpoint-down(sm) {
    padding: 60px 0 70px;
  }



	&:not(:first-of-type) {
    margin-top: -7%;

    &:nth-child(odd) {
      clip-path: url(#wavy-line-1);

      @include media-breakpoint-down(md) {
        clip-path: url(#wavy-line-sm-1);
      }
    }
    &:nth-child(even) {
      clip-path: url(#wavy-line-2);

      @include media-breakpoint-down(md) {
        clip-path: url(#wavy-line-sm-2);
      }
    }
	}

  &-title {
    color: $cool-blue;
    margin-bottom: 4rem;

    @include media-breakpoint-down(md) {
      margin-bottom: 2.5rem;
    }
  }

  &.blue,
  &.gradient-blue  {
    .content-block-title {
      color: $cool-blue;
    }
  }

  &.blue {
    background-color: $primary-color-tint-1;
  }

  &.orange  {
    background-color: $orange-tint-1;

    .content-block-title {
      color: $orange;
    }
  }

  &.gradient-blue {
    background-image: linear-gradient(260deg, #ebecd1, #caf4fc);
  }

  &.gradient-purple {
    background-image: linear-gradient(260deg, #afe8fe, #bf8cfb);

    .content-block-title {
      color: $white;
    }
  }

  &.faded {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($white, 0.6)
    }
  }

  .block-illustration-bg {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    mix-blend-mode: multiply;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}
