@function button-box-shadow($color-name: "light", $level: 0) {
  @return 0 0.125rem 0 0 theme-color-level($color-name, $level);
}

.btn {
  font-weight: 500;
  box-shadow: 0 0.125rem 0 0 theme-color-level(light, 0);
  transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out,
    transform .15s ease-in-out;
  &-link,
  &-outline-link {
    box-shadow: none;
  }
  &-icon,
  &-icon-small {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: $white;
  }
  &-icon {
    height: 2.75rem;
    width: 2.75rem;
    border-radius: 2.75rem;
  }
  &-icon-small {
    height: 2.3125rem;
    width: 2.3125rem;
    border-radius: 2.3125rem;
    font-size: 0.875rem;
  }
  @each $color, $value in $theme-colors {
    &-#{$color},
    &-outline-#{$color} {
      box-shadow: 0 0.125rem 0 0 theme-color-level($color, 4);
      &:hover {
        box-shadow: 0 0.2rem 0 0 theme-color-level($color, 5);
        transform: translateY(-0.075rem);
      }
      &:active {
        box-shadow: none;
        transform: translateY(0.125rem);
      }
    }
  }
  &-white {
    box-shadow: 0 0.125rem 0 0 theme-color-level('primary', 2);
    color: theme-color('primary');
    &:hover {
      box-shadow: 0 0.2rem 0 0 theme-color-level('primary', 3);
      transform: translateY(-0.075rem);
    }
    &:active {
      box-shadow: none;
      transform: translateY(0.125rem);
    }
  }
}
