.card {
  flex-grow: 1;
  border: none;
  @include z-depth(6);
  @include z-depth-transition();

  &:hover {
    @include z-depth(16);
  }

  &-img {
    height: 180px;
    background-size: cover;
    background-position: center;

    &-top & {
      border-radius: 0;
    }
  }

  &-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: grey(600);
    transition: 0.3s;
  }

  &-title {
    font-size: 1.125rem;
  }

  &-text {
    font-size: 0.875rem;
  }

  &-button {
    align-self: flex-end;
    margin-top: 0.5rem;
    height: 1.75rem;
    width: 1.75rem;
    border: solid 2px $white;
    border-radius: 50%;
    @include z-depth(4);
    background-color: $mikado-yellow;
  }

  &-form {
    margin-bottom: 2rem;
  }

  // CIRCLE CARDS
  &-container-circle {
    .card {
      position: relative;
      margin-top: $card-circle-offset;
      
      &-img {
        height: $card-circle-height;
        width: $card-circle-height;
        border-radius: 50%;
        border: solid 4px $white;
        @include z-depth(3);

        &-top {
          display: flex;
          justify-content: center;
          position: absolute;
          top: -$card-circle-offset;
        }
      }

      &-body {
        padding-top: $card-circle-height - $card-circle-offset + 10;
      }
    }
  }

  &-container,
  &-container-circle {
    .card {
      &:hover {
        .card {
          &-body {
            background-color: theme-color("primary");
            color: $white;
          }
        }
      }
    }
  }

  // ICON CARDS
  &-container-icon {
    .card {
      margin-top: $card-icon-offset;
      padding-top: 1rem;

      &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 50%;
        top: -$card-icon-offset;
        transform: translateX(-50%);
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background-color: $white;
        color: theme-color("primary");
      }
   
      &-icon-title {
        margin-top: 1rem;
        margin-bottom: 2.5rem;
        color: $white;
        text-align: center;
      }
    }
  }

  
  // OPTIONS

  &.border-dashed {
    padding: 0.75rem;

    .card-body {
      border-radius: 6px;
      border: 1px dashed currentColor;
    }
  }

  &.bg-primary {
    color: $white;
  }
}
