.card {
  flex-grow: 1;
  margin-bottom: $grid-gutter-width;
  border: none;
  @include z-depth(6);
  @include z-depth-transition();

  &:hover {
    @include z-depth(16);

    .card-category {
      color: $white;
    }
  }

  &-img {
    height: 200px;
    background-size: cover;
    background-position: center;

    &-top & {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: gray('600');
    border-radius: $card-border-radius;
    transition: 0.3s;
    overflow: hidden;
  }

  &-content {
    padding-bottom: 1rem;
  }

  &-title {
    font-size: 1.125rem;
  }

  &-category {
    font-size: 0.75rem;
    color: $apple;
  }

  &-text {
    font-size: 0.875rem;
  }

  &-button {
    align-self: flex-end;
    margin-top: 0.5rem;
    height: 1.75rem;
    width: 1.75rem;
    border: solid 2px $white;
    border-radius: 50%;
    @include z-depth(4);
    background-color: $mikado-yellow;
  }

  &-form {
    margin-bottom: 2rem;
    width: 100%;
  }

  &-featured {
    .card-img {
      height: 400px;
    }
  }

  &-hover {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &-box {
      fill: $white;
      transition: 0.3s;
    }
  }

  // CIRCLE CARDS
  &-container-circle {
    .card {
      position: relative;
      margin-top: $card-circle-offset;

      &:hover {
        .card {
          &-body {
            background-color: theme-color("primary");
          }
        }
      }
      
      &-img {
        height: $card-circle-height;
        width: $card-circle-height;
        border-radius: 50%;
        border: solid 4px $white;
        @include z-depth(3);

        &-top {
          display: flex;
          justify-content: center;
          position: absolute;
          top: -$card-circle-offset;
        }
      }

      &-body {
        padding-top: $card-circle-height - $card-circle-offset + 10;
        background-color: $white;
      }
    }

    &.card-large {
      .card {
        margin-top: $card-circle-offset-large;

        &-img {
          height: $card-circle-height-large;
          width: $card-circle-height-large;

          &-top {
            top: -$card-circle-offset-large;
          }
        }

        &-body {
          padding-top: $card-circle-height-large - $card-circle-offset-large + 20;
          align-items: center;
          text-align: center;
        }
      }
    }
  }

  &-container {
    .card {
      &:hover {
        .card {
          &-body {
            color: $white;
          }
        }
      }
    }
  }

  &-container-stacked {
    .card {
      &:hover {
        .card-hover-box {
          d: path('M400,25.27c0,0-57.72-15.27-200-15.27S0,25.27,0,25.27V400h400V25.27z');
          fill: theme-color("primary");
        }
      }

      &-img-top {
        + .card-body {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }

      &-body {
        position: relative;
        z-index: 2;
        margin-top: -#{$card-hover-offset-spacer};
        padding-top: $card-hover-offset-spacer;
        background-color: transparent;
      }
    }
  }

  // ICON CARDS
  &-container-icon {
    .card {
      margin-top: $card-icon-offset;
      padding-top: 1rem;

      &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 50%;
        top: -$card-icon-offset;
        transform: translateX(-50%);
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background-color: $white;
        color: theme-color("primary");
        @include z-depth(3);
      }
   
      &-icon-title {
        margin-top: 1rem;
        margin-bottom: 2.5rem;
        color: $white;
        text-align: center;
      }
    }
  }

  
  // OPTIONS

  &.border-dashed {
    padding: 0.75rem;

    .card-body {
      border: 1px dashed currentColor;
    }
  }

  &.bg-primary {
    color: $white;
  }
}
