.hero {
  margin-top: 100px;
  perspective: 900;
  perspective-origin: 55% 40%;
  position: relative;
  z-index: 0;

  @include media-breakpoint-down(sm) {
    margin-top: 60px;
  }

  &-moon {
    &-svg-container {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;

      @include media-breakpoint-up(sm) {
        padding-top: 100%;
      }
      @include media-breakpoint-down(xs) {
        height: 100%;
      }
    }
    &-svg {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;

      @include media-breakpoint-down(xs) {
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .jumbotron {
      position: relative;
      padding: 15% 4rem;
      background-color: transparent;
      // background-image: url(../img/moon.svg);
      // background-size: contain;
      // background-repeat: no-repeat;
      // background-position: 50%;
      text-align: center;
      border-radius: 2000px;
      @include media-breakpoint-down(xs) {
        padding: 30% 1.5rem;
      }
    }
    .container {
      position: relative;
      z-index: 1;
    }
    @include media-breakpoint-down(sm) {
      .container {
        padding: 0;
      }
    }
  }
  &-secondary-img {
    position: absolute;
    top: auto;
    bottom: 0;
    left: -15%;
    overflow: visible !important;
    @include media-breakpoint-only(lg) {
      left: -10%;
    }
    @include media-breakpoint-down(xs) {
      display: none;
    }
  }

  // small hero
  &-small {
    margin-top: 100px;
    min-height: 50px;

    .jumbotron {
      padding: 1.5rem 2.25rem;
      background-color: rgba($white, 0.8);
    }
  }

  &-overlap {
    // padding-bottom: 300px;
  }
}
