.form-inline {
  .form-container-underline {
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  .form-control-underline {
    width: 100%;
  }
}

%decor {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.form-container-underline {
  position: relative;
  flex: 1;

  .form-control-decor {
    @extend %decor;
    height: 1px;
    background-color: currentColor;
    transition: 0.25s ease-in-out;

    &::after {
      content: '';
      @extend %decor;
      height: 2px;
      transform: scaleX(0);
      // transform-origin: left center;
      background-color: $primary-color-tint-1;
      transition: 0.3s;
    }
  }
}

.form-control-underline {
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  background-color: transparent;
  color: currentColor;

  &::-webkit-input-placeholder {
    color: rgba($white, 0.7);
	}
	&::-ms-input-placeholder {
    color: rgba($white, 0.7);
	}
	&::-moz-input-placeholder {
    color: rgba($white, 0.7);
	}

  &:focus {
    background-color: transparent;
    color: currentColor;  

    + .form-control-decor {
      &::after {
        transform: scaleX(1);
        transition: 0.4s cubic-bezier(0,0.5,0.3,1.5);
      }
    }
  }
}