.form-inline {
  @include media-breakpoint-up(sm) {
    .form-container-underline {
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }

  .form-container-underline,
  .form-control-underline {
    width: 100%;
  }

  @include media-breakpoint-down(xs) {
    flex-direction: column;

    .form-container-underline {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
}

%decor {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.form-container-underline {
  position: relative;
  flex: 1;

  .form-control-decor {
    @extend %decor;
    height: 1px;
    background-color: currentColor;
    transition: 0.25s ease-in-out;

    &::after {
      content: '';
      @extend %decor;
      height: 3px;
      transform: scaleY(0);
      // transform-origin: left center;
      background-color: theme-color('primary');
      transition: 0.3s;
    }
  }

  &.input-group {
    .input-group-prepend {
      ~ .form-control-label {
        left: 3rem;
      }

      ~ .form-control-underline {
        padding-left: 0.625rem;
      }
    }

    .form-control-underline {
      padding-right: 0.625rem;
    }

    .input-group-text {
      border-radius: 0;
    }
  }
}

.form-control-underline {
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  border: 0;
  background-color: transparent;
  color: currentColor;

  @include placeholder {
    color: currentColor;
    opacity: 0.7;
  }

  ~ .form-control-label {
    position: absolute;
    transition: 0.4s $md-cubic-bezier;
    top: -0.25rem;
  }

  &:not([data-input-empty]) ~ .form-control-label,
  &:focus ~ .form-control-label {
    font-size: 0.5em;
  }
  &[data-input-empty]:not(:focus) ~ .form-control-label {
    top: 0.6rem;
    font-size: initial;
  }

  &:focus {
    background-color: transparent;
    color: currentColor;
    box-shadow: none;

    + .form-control-decor {
      &::after {
        transform: scaleY(1);
        transition: 0.4s cubic-bezier(0, 0.5, 0.3, 1.5);
      }
    }
  }
}

.card-form {
  display: flex;
  align-items: flex-start;
  position: relative;
  // overflow: hidden;

  &-step {
    min-width: 100%;
    transform: translateX(100%);
    visibility: hidden;
    opacity: 0;
    transition: transform 0.4s ease-in-out, opacity 0.3s 0.25s;

    &:not(:first-child) {
      position: absolute;
    }

    &.inactive {
      transform: translateX(-100%);
      visibility: hidden;
      opacity: 0;
    }

    &.active {
      transform: translateX(0);
      visibility: visible;
      opacity: 1;
    }

    .form-container-underline {
      .form-control-decor {
        &::after {
          background-color: $primary-color-tint-1;
        }
      }
    }
  }
}

.input {
  &-filters {
    legend {
      border-top: solid 0.2rem white;
    }
    .btn {
      position: relative;

      &:before {
        position: absolute;
        display: block;
        width: 2rem;
        height: 2rem;
        left: calc(50% - 1rem);
        top: -75%;
        border: solid 0.2rem white;
        border-radius: 1rem;
        background-color: transparent;
        content: '';
      }

      &-group-toggle {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  &-tags {
  }
}

.input-group {
  &-text {
    padding: 0.625rem 0.875rem;
    border: 0;
    background-color: theme-color("primary");
    color: $white;
  }
}
