// HORIZONTAL RULE

hr {
  border-top: solid 10px transparent;
  border-image: url(../img/border-dashed.svg) 11 round;
}

// ARTICLE STYLES

.article {
  p {
    font-size: 1.125rem;
    line-height: 1.5;
  }

  hr {
    margin: 2.5rem 0 2rem;
  }
}

// MEDIA ITEMS

.media-container {
  margin: 2rem 0;

  .media {
    margin: 1.5rem 0;

    &-img-circle {
      margin-right: 2rem;
      height: 135px;
      width: 135px;
      border-radius: 50%;
      border: solid 2px theme-color("tertiary");
      background-color: theme-color("tertiary");
      background-size: cover;
      background-position: center;

      @include media-breakpoint-down(sm) {
        align-self: flex-start;
        margin-right: 1rem;
        height: 100px;
        width: 100px;
      }
    }

    &-title {
      color: theme-color("tertiary");
    }

    &-body {
      p {
        font-size: 0.875rem;
      }
    }
  }
}


// SHARE BUTTONS

.share-container {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
}

.share {
  &-text {
    display: inline-block;
    margin-right: 1.5rem;
    font-weight: 700;
    font-size: 1.125rem;
  }

  &-items {
    margin-bottom: 0;
  }
}


// GALLERY

.gallery {
  margin-bottom: 80px;
  padding: 0 ($grid-gutter-width / 2);
  border-radius: $card-border-radius;
  @include z-depth(6);

  &-image {
    position: relative;
    margin: ($grid-gutter-width / 2) 0;
    min-height: 190px;
    background-color: theme-color("accent");
    background-size: cover;
    background-position: center;

    &-main {
      height: calc(100% - #{$grid-gutter-width});
    }
  }

  &-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0.75rem;
    width: 100%;
    height: 100%;
    background-color: rgba($white, 0.8);
    font-size: 0.875rem;
    font-weight: 700;
    color: theme-color("primary");
    text-align: center;
    transition: 0.3s;

    &:hover {
      text-decoration: none;
      background-color: rgba($white, 0.7);
    }

    .number {
      display: block;
      font-size: 3rem;
      line-height: 1.125;
    }
  }

  &-icon {
    width: 55px;
    margin-bottom: 1rem;

    &-wrapper {
      background-color: gray('200');

      .gallery-link,
      .gallery-link:hover {
        background-color: transparent;
      }
    }

    &-fill {
      fill: currentColor;
    }
  }
}