.fill-current-color {
  fill: currentColor;
}
.stroke-current-color {
  stroke: currentColor;
}

.svg-rocket-launch {
  width: 100%;
  color: $daisy-bush;

  &:hover {
    .rocket {
      animation-name: launch;
      animation-duration: 2s;
      animation-fill-mode: forwards;
    }
    .rocket-bubbles {
      opacity: 0;
      
      path {
        transform: scale(1.4) translateY(5px);
      }
    }
  }

  &-container {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 10%;
    width: 420px;
  }

  .rocket {
    transform-origin: bottom center;
  }
  .rocket-bubbles,
  .rocket-bubbles path {
    transition: 0.4s ease-in-out;
    transform-origin: center center;
  }

  .stroke-current-color {
    stroke-width: 16px;
    fill: none;
  }
}

@keyframes launch {
  20% {
    transform: scaleY(0.6)
  }
  30% {
    transform: scaleY(1) translateY(0);
    opacity: 1
  }
  100% {
    transform: translateY(-100px);
    opacity: 0;
  }
}

.svg-castle {
  width: 100%;
  transform-origin: bottom center;

  &:hover {
    animation-name: bounce;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  &-container {
    position: absolute;
    bottom: 0;
    right: 5%;
    width: 390px;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: scale(1)
  }
  20% {
    transform: scaleY(0.6)
  }
  35% {
    transform: scaleY(1.1)
  }
  55% {
    transform: scaleY(0.8)
  }
  80% {
    transform: scaleY(1.05)
  }
}