@include media-breakpoint-down(md) {
  h1, .h1 {
    font-size: 2.375rem;
  }
  h2, .h2 {
    font-size: 2.125rem;
  }
}
@include media-breakpoint-down(xs) {
  h1, .h1 {
    font-size: 2.25rem;
  }
  h2, .h2 {
    font-size: 2rem;
  }
}

.list-seperator {
  padding: 0;
  margin: 0;
  list-style: none;

  > li {
    display: inline-block;

    &:not(:last-child) {
      &::after {
        content: ' | ';
        padding: 0 0.5em;
      }
    }
  }
}