{% macro renderContentBlock(block) %}
<section class="content-block {{ block.theme }}"{% if block.bg %} style="background-image: url({{ block.bg }});"{% endif %}>
  <div class="container{{ "-fluid" if block.fluid }}">
    <a class="anchor" id="{{ block.title|slug }}"></a>
    {% if block.modules %}
      {% for module in block.modules %}
        {% include "modules/" + module.type + ".njk" %}
      {% endfor %}
    {% endif %}
  </div>
  {% if block.illustrationBg %}
  <div class="block-illustration-bg" style="background-image: url({{ block.illustrationBg }});"></div>
  {% endif %}
</section>
{% endmacro %}
