<div class="card">
  <div class="card-img-top">
    <div class="card-img" style="background-image: url({{ card.image }})"></div>
  </div>
  <div class="card-body">
    <div class="card-content">
      {% if card.category %}
      <span class="card-category">
        {{ card.category }}
      </span>
      {% endif %}
      <h4 class="card-title">
        {{ card.title }}
      </h4>
      <p class="card-text">
        {{ card.text }}
      </p>
    </div>
    {% if card.linkText %}
    <a href="{{ card.link }}" class="btn btn-primary">{{ card.linkText }}</a>
    {% else %}
    <a href="{{ card.link }}" class="card-button"></a>
    {% endif %}
  </div>
</div>