<div class="modal fade" id="{{ dialog.id }}-dialog" tabindex="-1" role="dialog" aria-labelledby="{{ dialog.id }}-dialog-title"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="fas fa-times"></span>
        </button>
        <div class="row">
          {% if dialog.slideshow -%}
          <div class="col-12{% if dialog.buttonText or dialog.tags or dialog.quote %} col-lg-6{% endif %}">
            <div class="swiper-container dialog-slider-top">
              <div class="swiper-wrapper">
                {%- for slide in dialog.slideshow.slides -%}
                <div class="swiper-slide" style="background-image:url({{ slide.image }})"></div>
                {%- endfor %}
              </div>
              {% if dialog.slideshow.arrows -%}
              <!-- Add Arrows -->
              <div class="swiper-button-next swiper-button-white"></div>
              <div class="swiper-button-prev swiper-button-white"></div>
              {%- endif %}
              {% if dialog.slideshow.pagination -%}
              <!-- Add Pagination -->
              <div class="swiper-pagination"></div>
              {%- endif %}
            </div>
            <div class="swiper-container dialog-slider-bottom">
              <div class="swiper-wrapper">
                {% for slide in dialog.slideshow.slides -%}
                <div class="swiper-slide" style="background-image:url({{ slide.image }})"></div>
                {%- endfor %}
              </div>
            </div>
          </div>
          {%- endif %}
          {% if dialog.buttonText or dialog.tags or dialog.quote -%}
          <div class="col-12{% if dialog.slideshow %} col-lg-6{% endif %}">
            <h2 id="{{ dialog.id }}-dialog-title" class="text-primary">{{ dialog.title }}</h2>
            <p class="caption">
              <i class="card-icon fas fa-{{ dialog.specsIcon }}"></i>
              {{ dialog.specs }}
            </p>
            <p>{{ dialog.description }}</p>

            {% if dialog.buttonText -%}
            <div class="button-container mb-4">
              {% if dialog.buttonSecondaryText %}
              <a href="{{ dialog.buttonSecondaryLink }}" class="btn btn-outline-primary">{{ dialog.buttonSecondaryText }}</a>
              {% endif %}
              <a href="{{ dialog.buttonLink }}" class="btn btn-primary">{{ dialog.buttonText }}</a>
            </div>
            {%- endif %}

            {% if dialog.tags -%}
            <div class="tag-container mb-4">
              {% for tag in dialog.tags -%}
              <span class="tag">{{ tag.text }}</span>
              {%- endfor %}
            </div>
            {%- endif %}

            {% if dialog.quote -%}
            <div class="blockquote-container">
              <blockquote>
                <em>{{ dialog.quote.text }}</em>
              </blockquote>
              <div class="blockquote-cite media align-items-center">
                <div class="media-img-circle" style="background-image: url({{ dialog.quote.image }})"></div>
                <div class="media-item">
                  <span class="cite-name">
                    {{ dialog.quote.name }}
                  </span>
                  <a class="cite-link" href="{{ dialog.quote.link }}">
                    {{ dialog.quote.linkText }}
                  </a>
                </div>
              </div>
            </div>
            {%- endif %}
          </div>
          {%- endif %}
        </div>
        {% if dialog.moreLinks -%}
        <div class="row mt-4">
          <div class="col-12">
            <h3>{{ dialog.moreLinksTitle }}</h3>
          </div>
        </div>
        <div class="media-container my-0">
          <div class="row">
            {% for link in dialog.moreLinks -%}
            <div class="col-lg-4">
              <div class="media media-shadow">
                <div class="media-img-circle" style="background-image: url({{ link.image }})"></div>
                <div class="media-item">
                  <a class="media-link" href="{{ link.link }}">
                    <h4 class="media-header">
                      {{ link.title }}
                    </h4>
                  </a>
                  <p>
                    {{ link.description }}
                  </p>
                </div>
              </div>
            </div>
            {%- endfor %}
          </div>
        </div>
        {%- endif %}
      </div>
    </div>
  </div>
</div>
