<div class="modal fade" id="{{ dialog.id }}-dialog" tabindex="-1" role="dialog" aria-labelledby="{{ dialog.id }}-dialog-title" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h3 id="{{ dialog.id }}-dialog-title">{{ dialog.title }}</h3>
        <p>{{ dialog.description }}</p>
      </div>
    </div>
  </div>
</div>
