{% for modal in dialog -%}
<div class="modal fade" id="{{ modal.id }}-dialog" tabindex="-1" role="dialog" aria-labelledby="{{ modal.id }}-dialog-title"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="fas fa-times"></span>
        </button>
        <div class="row">
          {% if modal.slideshow -%}
          <div class="col-12{% if modal.buttonText or modal.tags or modal.quote %} col-lg-6{% endif %}">
            <div class="swiper-container dialog-slider-top">
              <div class="swiper-wrapper">
                {%- for slide in modal.slideshow.slides -%}
                <div class="swiper-slide" style="background-image:url({{ slide.image }})"></div>
                {%- endfor %}
              </div>
              {% if modal.slideshow.arrows -%}
              <!-- Add Arrows -->
              <div class="swiper-button-next swiper-button-white"></div>
              <div class="swiper-button-prev swiper-button-white"></div>
              {%- endif %}
              {% if modal.slideshow.pagination -%}
              <!-- Add Pagination -->
              <div class="swiper-pagination"></div>
              {%- endif %}
            </div>
            <div class="swiper-container dialog-slider-bottom">
              <div class="swiper-wrapper">
                {% for slide in modal.slideshow.slides -%}
                <div class="swiper-slide" style="background-image:url({{ slide.image }})"></div>
                {%- endfor %}
              </div>
            </div>
          </div>
          {%- endif %}
          {% if modal.buttonText or modal.tags or modal.quote -%}
          <div class="col-12{% if modal.slideshow %} col-lg-6{% endif %}">
            <h2 id="{{ modal.id }}-dialog-title" class="text-primary">{{ modal.title }}</h2>
            <p class="caption">
              <i class="card-icon fas fa-{{ modal.specsIcon }}"></i>
              {{ modal.specs }}
            </p>
            <p>{{ modal.description }}</p>

            {% if modal.buttonText -%}
            <div class="button-container mb-4">
              {% if modal.buttonSecondaryText %}
              <a href="{{ modal.buttonSecondaryLink }}" class="btn btn-outline-primary">{{ modal.buttonSecondaryText }}</a>
              {% endif %}
              <a href="{{ modal.buttonLink }}" class="btn btn-primary">{{ modal.buttonText }}</a>
            </div>
            {%- endif %}

            {% if modal.tags -%}
            <div class="tag-container mb-4">
              {% for tag in modal.tags -%}
              <span class="tag">{{ tag.text }}</span>
              {%- endfor %}
            </div>
            {%- endif %}

            {% if modal.quote -%}
            <div class="blockquote-container">
              <blockquote>
                <em>{{ modal.quote.text }}</em>
              </blockquote>
              <div class="blockquote-cite media align-items-center">
                <div class="media-img-circle" style="background-image: url({{ modal.quote.image }})"></div>
                <div class="media-item">
                  <span class="cite-name">
                    {{ modal.quote.name }}
                  </span>
                  <a class="cite-link" href="{{ modal.quote.link }}">
                    {{ modal.quote.linkText }}
                  </a>
                </div>
              </div>
            </div>
            {%- endif %}
          </div>
          {%- endif %}
        </div>
        {% if modal.moreLinks -%}
        <div class="row mt-4">
          <div class="col-12">
            <h3>{{ modal.moreLinksTitle }}</h3>
          </div>
        </div>
        <div class="media-container my-0">
          <div class="row">
            {% for link in modal.moreLinks -%}
            <div class="col-lg-4">
              <div class="media media-shadow">
                <div class="media-img-circle" style="background-image: url({{ link.image }})"></div>
                <div class="media-item">
                  <a class="media-link" href="{{ link.link }}">
                    <h4 class="media-header">
                      {{ link.title }}
                    </h4>
                  </a>
                  <p>
                    {{ link.description }}
                  </p>
                </div>
              </div>
            </div>
            {%- endfor %}
          </div>
        </div>
        {%- endif %}
      </div>
    </div>
  </div>
</div>
{%- endfor %}
