<footer class="footer" role="contentinfo">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 footer-col">
				<h6 class="footer-header">About Us</h6>
				<p>Atomic Playgrounds has been practicing their strange blend of painting, sculpting, applied physics, molding and fabricating for over 10 years.</p>
				<ul class="list-seperator footer-links-main">
					<li>
						<a href="#">Our Story</a>
					</li>
					<li>
						<a href="#">Our Team</a>
					</li>
					<li>
						<a href="#">In the Community</a>
					</li>
				</ul>
			</div>
			<div class="col-lg-4 footer-col">
				<h6 class="footer-header">Customer support</h6>
				<ul class="footer-address fa-ul">
					<li>
						<span class="fa-li"><i class="fas fa-phone"></i></span>
						<a href="tel:6045071260">604-507-1260</a>
					</li>
					<li>
						<span class="fa-li"><i class="fas fa-envelope"></i></span>
						<a href="mailto:info@atomicplaygrounds.com">info@atomicplaygrounds.com</a>
					</li>
				</ul>
				<a class="footer-link-cta" href="#">We Love Questions, Just Ask! </a>
			</div>
			<div class="col-lg-4 footer-col">
				<h6 class="footer-header">More Fun</h6>
				<div class="row">
					<div class="col-sm-6">
						<ul class="list-unstyled">
							<li>
								<a href="#">Additional Link</a>
							</li>
							<li>
								<a href="#">Additional Link</a>
							</li>
							<li>
								<a href="#">Additional Link</a>
							</li>
							<li>
								<a href="#">Additional Link</a>
							</li>
						</ul>
					</div>
					<div class="col-sm-6">
						<ul class="list-unstyled">
							<li>
								<a href="#">Additional Link</a>
							</li>
							<li>
								<a href="#">Additional Link</a>
							</li>
							<li>
								<a href="#">Additional Link</a>
							</li>
							<li>
								<a href="#">Additional Link</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8">
				<p><a href="#">Privacy</a> | <a href="#">Terms and conditions</a> | Copyright © 2016 Atomic Themeworks Mfg Inc, DBA as Atomic Playgrounds.</p>
			</div>
			<div class="col-lg-4 text-lg-right">
				<ul class="icons-social list-inline">
					<li class="list-inline-item icon-item">
						<a href="#" class="btn btn-icon btn-accent"><i class="fab fa-youtube"></i></a>
					</li>
					<li class="list-inline-item icon-item">
						<a href="#" class="btn btn-icon btn-accent"><i class="fab fa-facebook-f"></i></a>
					</li>
					<li class="list-inline-item icon-item">
						<a href="#" class="btn btn-icon btn-accent"><i class="fab fa-instagram"></i></a>
					</li>
					<li class="list-inline-item icon-item">
						<a href="#" class="btn btn-icon btn-accent"><i class="fab fa-skype"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>