<header id="header" class="header row align-items-center" role="banner">
  <div class="col-md-4">
{% include "partials/logo.njk" %}
  </div>
  <div class="col-md-8">
    <div class="row">
      <nav class="nav justify-content-end align-items-center col-md-8">
        <a class="nav-item nav-link active" href="#">What we do</a>
        <a class="nav-item nav-link" href="#">How we help</a>
        <a class="nav-item nav-link" href="#">Inspiration</a>
        <a class="nav-item nav-link disabled" href="#">About us</a>
      </nav>
      <nav class="nav justify-content-center align-items-center col-md-4">
        <a href="#" class="nav-item nav-link"><small>Search</small></a>
        <a href="#" class="nav-item nav-link"><small>Contact us</small></a>
        <a href="#" class="nav-item nav-link"><small>Login</small></a>
        <a href="#" class="btn btn-primary btn-block">Get started now</a>
      </nav>
    </div>
  </div>
</header>
