<header id="header" class="container">
  <div class="row align-items-center">
    <div class="col-md-4">
      <div class="nav-logo">
        {% include "svg/logo.njk" %}
      </div>
    </div>
    <div class="col-md-8">
      <div class="row align-items-center">
        <div class="col-md-8 justify-content-end">
          <nav class="nav" role="navigation" id="main-navigation">
            <a class="nav-item nav-link active" href="#">What we do</a>
            <a class="nav-item nav-link" href="#">How we help</a>
            <a class="nav-item nav-link" href="#">Inspiration</a>
            <a class="nav-item nav-link disabled" href="#">About us</a>
          </nav>
        </div>
        <div class="col-md-4 text-center">
          <ul class="list-inline">
            <li class="list-inline-item"><small><a href="#">Search</a></small></li>
            <li class="list-inline-item"><small>|</small></li>
            <li class="list-inline-item"><small><a href="#">Contact us</a></small></li>
            <li class="list-inline-item"><small>|</small></li>
            <li class="list-inline-item"><small><a href="#">Login</a></small></li>
          </ul>
          <a href="#" class="btn btn-primary btn-block">Get started now</a>
        </div>
      </div>
    </div>
  </div>
</header>
