---
contentBlocks:
  - fluid: true
    bg: assets/img/jump-jacks.jpg
  - theme: white
    modules:
      - type: title
        title: Contact us
        class: text-muted
        headingLevel: 1
        icon: phone
---


{%- extends "layout.njk" %}

{%- block content %}

{%- from "block.njk" import renderContentBlock %}
{%- for block in contentBlocks %}
{{ renderContentBlock(block) }}
{%- endfor %}

{%- endblock %}
