---
contentBlocks:
  - fluid: true
    bg: assets/img/jump-jacks.jpg
  - theme: white
    modules:
      - type: title
        title: Contact us
        class: text-muted
        headingLevel: 1
        icon: phone
      - type: content-columns
        columns: 1
        content: We are here for you, happy to help you start your next great project or jus answer questions or Call us at 604 507-1260.
      - type: contact-large
        text: Any information provided will be kept confidential and only used to assist with your project.
---


{%- extends "layout.njk" %}

{%- block content %}

{%- from "block.njk" import renderContentBlock %}
{%- for block in contentBlocks %}
{{ renderContentBlock(block) }}
{%- endfor %}

{%- endblock %}
