---
contentBlocks:
  - fluid: true
    bg: assets/img/jump-jacks.jpg
    modules:
      - type: hero-small
  - theme: white
    modules:
      - type: title
        title: So Much Fun!
      - type: gallery
        imageFeatured: assets/img/cards/ball-shooter.jpg
        images:
          - image: assets/img/cards/ball-pit.jpg
          - image: assets/img/cards/climbing-wall.jpg
          - image: assets/img/cards/house-tv.jpg
          - image: assets/img/cards/turtle-mural.jpg
          - image: assets/img/cards/treehouse.jpg
          - image: assets/img/cards/tent.jpg
      - type: title
        title: Theming!
      - type: gallery
        imageFeatured: assets/img/cards/ball-shooter.jpg
        images:
          - image: assets/img/cards/ball-pit.jpg
          - image: assets/img/cards/climbing-wall.jpg
          - image: assets/img/cards/house-tv.jpg
          - image: assets/img/cards/turtle-mural.jpg
          - image: assets/img/cards/treehouse.jpg
          - image: assets/img/cards/tent.jpg
  - theme: orange
    illustrationBg: assets/img/illustration-bg-03.png
    modules:
      - type: title
        title: Proven Fun
      - type: cards-circle
        cards:
          - image:
            link: article.html
            title: Interactive Floor
            text: Youngsters can find our play equipment super exciting!
          - image:
            link: article.html
            title: Race Track/Plasma
            text: Youngsters can find our play equipment super exciting!
          - image: assets/img/cards/fish-table.jpg
            link: article.html
            title: Soft 'n Safe
            text: Youngsters can find our play equipment super exciting!
          - image:
            link: article.html
            title: Imagination blocks
            text: Youngsters can find our play equipment super exciting!
  - theme: white
    modules:
      - type: title
        title: Toddler
      - type: gallery
        imageFeatured: assets/img/cards/ball-shooter.jpg
        images:
          - image: assets/img/cards/ball-pit.jpg
          - image: assets/img/cards/climbing-wall.jpg
          - image: assets/img/cards/house-tv.jpg
          - image: assets/img/cards/turtle-mural.jpg
          - image: assets/img/cards/treehouse.jpg
          - image: assets/img/cards/tent.jpg
  - theme: gradient-blue
    modules:
      - type: title
        title: Even more to explore!
      - type: cards
        cards:
          - image: assets/img/cards/ball-pit.jpg
            link: //facebook.com
            category: FaceBook
            title: It Was All Fun And Games Until..
            text: There are several ways people can make money online. From selling products to advertising. In this article I am going to explain the concept of contextual advertising
            hover: true
          - image: assets/img/cards/tent.jpg
            link: product.html
            category: Projects
            title: Up Coming project in Vancouver
            text: There are several ways people can make money online. From selling products to advertising. In this article I am going to explain the concept of contextual advertising
            hover: true
          - image: assets/img/cards/sliding-kid.jpg
            link: article.html
            category: Blog
            title: Fun People Say Nice Things
            text: There are several ways people can make money online. From selling products to advertising. In this article I am going to explain the concept of contextual advertising
            hover: true
---


{%- extends "layout.njk" %}

{%- block content %}

{%- from "block.njk" import renderContentBlock %}
{%- for block in contentBlocks %}
{{ renderContentBlock(block) }}
{%- endfor %}

{%- endblock %}
