---
title: Let's Get Started
contentBlocks:
  - fluid: true
    bg: assets/img/jump-jacks.jpg
    modules:
      - type: hero-small
  - theme: white
    modules:
      - type: title
        title: Let’s Get Started
        headingLevel: 1
        icon: phone
      - type: content-columns
        columns: 6
        class: text-center
        body:
          - content: We are here for you, happy to help you start your next great project or just answer questions or call us at 604-507-1260.
      - type: contact-large
        text: Any information provided will be kept confidential and only used to assist with your project.
        extraFields: true
      - type: map
        text: Feel free to stop by our office
        map:
          center: 49.1913,-122.8490
          zoom: 12
  - theme: blue
    illustrationBg: assets/img/illustration-bg-02.png
    modules:
      - type: title
        title: Lots of Toddler Stuff
      - type: cards-circle
        cards:
          - image:
            link: article.html
            title: Finishing Touches
            text: Youngsters can find our play equipment super exciting!
          - image: assets/img/cards/house-tv.jpg
            link: article.html
            title: Playground Theming
            text: Youngsters can find our play equipment super exciting!
          - image: assets/img/cards/fish-table.jpg
            link: article.html
            title: Funiture & Accessories
            text: Youngsters can find our play equipment super exciting!
          - image: assets/img/cards/turtle-mural.jpg
            link: article.html
            title: Murals & Logos
            text: Youngsters can find our play equipment super exciting!
---


{%- extends "layout.njk" %}

{%- block title %}{{ title }}{%- endblock %}

{%- block content %}

{%- from "block.njk" import renderContentBlock %}
{%- for block in contentBlocks %}
{{ renderContentBlock(block) }}
{%- endfor %}

{%- endblock %}
