---
title: Home
contentBlocks:
  - fluid: true
    bg: assets/img/jump-jacks.jpg
    modules:
      - type: hero
        class: hero-moon
        include: svg/rocket.njk
        title: The Best Playgrounds on the Planet!
        subtitle: Built in North America. Atomic Indoor Playground Manufacturing is the perfect place to start planning your Indoor Playground or fun center project.
        button: View the Awesomeness!
        buttonLink: gallery.html
  - theme: gradient-purple
    illustrationBg: assets/img/illustration-bg-01.png
    modules:
      - type: title
        title: We do this and so much more!
      - type: cards-feature
        buttonText: View All
        buttonLink: products.html
        cardsFeature:
          - image: assets/img/cards/treehouse.jpg
            link: product.html
            class: card-featured
            title: Playgrounds
            text: Youngsters find our play equipment exciting and challenging and will play for hours on our well designed and well themed soft indoor playgrounds.
            hover: true
        cards:
          - image: assets/img/cards/playground.jpg
            link: product.html
            title: Toddler Areas
            text: Youngsters can find our play equipment super exciting!
            hover: true
          - image: assets/img/cards/house-tv.jpg
            link: product.html
            title: Theming
            text: Youngsters can find our play equipment super exciting!
            hover: true
          - image: assets/img/cards/climbing-wall.jpg
            link: product.html
            title: Climbing Walls
            text: Youngsters can find our play equipment super exciting!
            hover: true
          - image: assets/img/cards/turtle-mural.jpg
            link: product.html
            title: Branding & Murals
            text: Youngsters can find our play equipment super exciting!
            hover: true
  - fluid: true
    theme: white
    modules:
      - type: title
        title: Some of Our Partners
      - type: logo-slider
        slides:
          - image: assets/img/logo-
            link: #
            alt: Partner logo
            title: Click here to visit our partner
  - fluid: true
    bg: assets/img/jump-jacks.jpg
    theme: faded
    modules:
      - type: cards-slider
        cards:
          - image: assets/img/cards/ball-shooter.jpg
            class: border-dashed
            link: article.html
            linkText: Register Now
            title: The BIG Deal “Free Ball Shooter”
            text: With the purchase of any Atomic indoor playground. For a LIMITED time only!
  - theme: white
    modules:
      - type: title
        title: Your Support Team
      - type: icons
        icons:
          - id: headset
            title: Speak to a Serivce Rep
            text: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque imperdiet augue ut mauris imperdiet, vel rhoncus libero volutpat.
            link: contact.html
            linkText: Contact Us
          - id: screws
            title: Replacement Parts
            text: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque imperdiet augue ut mauris imperdiet, vel rhoncus libero volutpat.
            link: product.html
            linkText: Shop
          - id: monitor
            title: How to Videos
            text: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque imperdiet augue ut mauris imperdiet, vel rhoncus libero volutpat.
            link: article.html
            linkText: Watch
  - theme: blue
    illustrationBg: assets/img/illustration-bg-02.png
    modules:
      - type: title
        title: Lots of Toddler Stuff
      - type: cards-circle
        cards:
          - image:
            link: article.html
            title: Finishing Touches
            text: Youngsters can find our play equipment super exciting!
          - image: assets/img/cards/house-tv.jpg
            link: article.html
            title: Playground Theming
            text: Youngsters can find our play equipment super exciting!
          - image: assets/img/cards/fish-table.jpg
            link: article.html
            title: Funiture & Accessories
            text: Youngsters can find our play equipment super exciting!
          - image: assets/img/cards/turtle-mural.jpg
            link: article.html
            title: Murals & Logos
            text: Youngsters can find our play equipment super exciting!
  - theme: white
    modules:
      - type: contact-small
        title: We like questions
        buttonText: Get Answer Now
        placeholder: Write a quetion please
  - theme: orange
    illustrationBg: assets/img/illustration-bg-03.png
    modules:
      - type: title
        title: Proven Fun
      - type: cards-circle
        cards:
          - image:
            link: article.html
            title: Interactive Floor
            text: Youngsters can find our play equipment super exciting!
          - image:
            link: article.html
            title: Race Track/Plasma
            text: Youngsters can find our play equipment super exciting!
          - image: assets/img/cards/fish-table.jpg
            link: article.html
            title: Soft 'n Safe
            text: Youngsters can find our play equipment super exciting!
          - image:
            link: article.html
            title: Imagination blocks
            text: Youngsters can find our play equipment super exciting!
  - theme: gradient-blue
    modules:
      - type: title
        title: Even more to explore!
      - type: cards
        cards:
          - image: assets/img/cards/ball-pit.jpg
            link: //facebook.com
            category: FaceBook
            title: It Was All Fun And Games Until..
            text: There are several ways people can make money online. From selling products to advertising. In this article I am going to explain the concept of contextual advertising
            hover: true
          - image: assets/img/cards/tent.jpg
            link: product.html
            category: Projects
            title: Up Coming project in Vancouver
            text: There are several ways people can make money online. From selling products to advertising. In this article I am going to explain the concept of contextual advertising
            hover: true
          - image: assets/img/cards/sliding-kid.jpg
            link: article.html
            category: Blog
            title: Fun People Say Nice Things
            text: There are several ways people can make money online. From selling products to advertising. In this article I am going to explain the concept of contextual advertising
            hover: true
---


{%- extends "layout.njk" %}

{%- block title %}{{ title }}{%- endblock %}

{%- block content %}

{%- from "block.njk" import renderContentBlock %}
{%- for block in contentBlocks %}
{{ renderContentBlock(block) }}
{%- endfor %}

{%- endblock %}
