---
title: Kitchen Sink
---

{%- extends "layout.njk" %}

{%- block content %}

<div class="container">
  <div class="row mt-5">
    <div class="col-sm-12">
      <h2>Buttons</h2>
    </div>
    <div class="col-sm-12">
      <!--
      *******
      BUTTONS
      *******
      -->
      <button type="button" class="btn">None</button>
      <button type="button" class="btn btn-primary">Primary</button>
      <button type="button" class="btn btn-secondary">Secondary</button>
      <button type="button" class="btn btn-tertiary">Tertiary</button>
      <button type="button" class="btn btn-accent">Accent</button>
      <button type="button" class="btn btn-success">Success</button>
      <button type="button" class="btn btn-danger">Danger</button>
      <button type="button" class="btn btn-warning">Warning</button>
      <button type="button" class="btn btn-info">Info</button>
      <button type="button" class="btn btn-light">Light</button>
      <button type="button" class="btn btn-dark">Dark</button>
      <!-- Link button -->
      <button type="button" class="btn btn-link">Link</button>
    </div>
  </div>
  <hr/>
</div>

{%- endblock %}
