---
title: Products
contentBlocks:
  - bg: assets/img/jump-jacks.jpg
    modules:
      - type: hero-small
        class: hero-overlap
      - type: card-overlap
        title: Indoor Playgrounds
        body: <p>Youngsters find our play equipment exciting and challenging and will play for hours on our well designed and well themed soft indoor playgrounds. Atomic Playgrounds specializes in custom design and theming and creates some of the most outstanding indoor playgrounds and equipment for fun centers and play places worldwide.</p><p>We have the capability to produce world class soft indoor playground equipment and facilities that will tickle the imagination and challenge the minds and bodies of youngsters for many years. We provide turnkey solutions including planning, design, manufacturing and installation that will streamline your buildout process and most importantly, save you money!</p>
        images:
          - image: assets/img/cards/ball-pit.jpg
          - image: assets/img/cards/climbing-wall.jpg
          - image: assets/img/cards/house-tv.jpg
        imagesLinkText: Get Inspired, check out our galleries!
        imagesLink: gallery.html
  - theme: gradient-purple
    modules:
      - type: title
        title: Sample Designs
      - type: filter-inputs
        filters:
          - all
          - small
          - medium
          - large
        tags:
          - slides
          - bags
          - boulder
          - climbing wall
          - mural
      - type: cards
        button: Load more
        cards:
          - image: assets/img/ap-product-1.jpg
            title: 1025 – Lightning Lanes
            text: 29`- 6" x 28` x 15' - 2"H
            icon: arrows-alt
            linkText: Add to wish list
            link: #
            linkModal: wish-list-dialog
            linkSecondaryText: Inquire
            linkSecondary: #
            hover: true
            badge: rocket
            modal: service-dialog
          - image: assets/img/ap-product-1.jpg
            title: 1025 – Lightning Lanes
            text: 29`- 6" x 28` x 15' - 2"H
            icon: arrows-alt
            linkText: Add to wish list
            link: #
            linkModal: wish-list-dialog
            linkSecondaryText: Inquire
            linkSecondary: #
            hover: true
            badge: rocket
            modal: service-dialog
          - image: assets/img/ap-product-1.jpg
            title: 1025 – Lightning Lanes
            text: 29`- 6" x 28` x 15' - 2"H
            icon: arrows-alt
            linkText: Add to wish list
            link: #
            linkModal: wish-list-dialog
            linkSecondaryText: Inquire
            linkSecondary: #
            hover: true
            badge: rocket
            modal: service-dialog
          - image: assets/img/ap-product-1.jpg
            title: 1025 – Lightning Lanes
            text: 29`- 6" x 28` x 15' - 2"H
            icon: arrows-alt
            linkText: Add to wish list
            link: #
            linkModal: wish-list-dialog
            linkSecondaryText: Inquire
            linkSecondary: #
            hover: true
            badge: rocket
            modal: service-dialog
          - image: assets/img/ap-product-1.jpg
            title: 1025 – Lightning Lanes
            text: 29`- 6" x 28` x 15' - 2"H
            icon: arrows-alt
            linkText: Add to wish list
            link: #
            linkModal: wish-list-dialog
            linkSecondaryText: Inquire
            linkSecondary: #
            hover: true
            badge: rocket
            modal: service-dialog
          - image: assets/img/ap-product-1.jpg
            title: 1025 – Lightning Lanes
            text: 29`- 6" x 28` x 15' - 2"H
            icon: arrows-alt
            linkText: Add to wish list
            link: #
            linkModal: wish-list-dialog
            linkSecondaryText: Inquire
            linkSecondary: #
            hover: true
            badge: rocket
            modal: service-dialog
  - theme: white
    modules:
      - type: contact-small
        title: We like questions
        buttonText: Get Answer Now
        placeholder: Write a quetion please
  - theme: gradient-blue
    modules:
      - type: title
        title: Even more to explore!
      - type: cards
        cards:
          - image: assets/img/cards/ball-pit.jpg
            link: //facebook.com
            category: FaceBook
            title: It Was All Fun And Games Until..
            text: There are several ways people can make money online. From selling products to advertising. In this article I am going to explain the concept of contextual advertising
            hover: true
          - image: assets/img/cards/tent.jpg
            link: product.html
            category: Projects
            title: Up Coming project in Vancouver
            text: There are several ways people can make money online. From selling products to advertising. In this article I am going to explain the concept of contextual advertising
            hover: true
          - image: assets/img/cards/sliding-kid.jpg
            link: article.html
            category: Blog
            title: Fun People Say Nice Things
            text: There are several ways people can make money online. From selling products to advertising. In this article I am going to explain the concept of contextual advertising
            hover: true
dialog:
  id: service
  title: Item title
  specs: description
  specsIcon: arrows-alt
  description: The main advantage of a computer audio player is that you can play your audio CDs and there is no longer any need to have a separate CD player. However the capabilities of the computer audio player go beyond just playing traditional music CDs.
  slideshow:
    - image: assets/img/ap-product-1.jpg
    - image: assets/img/ap-product-1.jpg
    - image: assets/img/ap-product-1.jpg
  buttonText: Add to wishlist
  buttonLink: #
  buttonSecondaryText: Inquire
  buttonSecondaryLink: #
  tags:
    - text: Slide
    - text: Tubes
    - text: Themes
  quote: 
    text: Yet our age increases with every day of our life. The fast pace of the world around us in fact makes us age faster. But, it is important to retain our youthful vigor, for it is only with young passion and energy that we can work towards success, enjoy a peaceful, healthy life, indulge ourselves in the pleasure of sex, and keep ourselves happy.
    name: Beatrice Warren
    image: 
    link: #
    linkText: Read Full Story
  moreLinksTitle: Bought Together
  moreLinks:
    - image:
      title: Finishing Touches
      link: #
      description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    - image:
      title: Furniture & Accessories
      link: #
      description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    - image:
      title: Playground Theming
      link: #
      description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
dialogSuccess:
  id: wish-list
  icon: check-circle
  title: Horray!
  description: Item successfully added to your wish list!
---


{%- extends "layout.njk" %}

{%- block title %}{{ title }}{%- endblock %}

{%- block content %}

{%- from "block.njk" import renderContentBlock %}
{%- for block in contentBlocks %}
{{ renderContentBlock(block) }}
{%- endfor %}

{%- endblock %}
