---
title: Services
contentBlocks:
  - fluid: true
    bg: assets/img/jump-jacks.jpg
    modules:
      - type: hero-small
  - theme: white
    modules:
      - type: content-columns
        title: Theming and Branding
        columns: 6
        body:
          - content: Dentists, museums, community centers, retail stores and recreational facilities are just a few of the organizations that are benefiting from a themed play area custom designed to keep kids safely entertained. In fact, any place with families and waiting time is a prime candidate for an Atomic Playgrounds’ safe and imaginative play area.<p>From exciting wall murals to fully featured play centers, our theming experts can design an environment that meets your customer’s needs and your budget.
          - contentQuote:
              quote: Yet our age increases with every day of our life. The fast pace of the world around us in fact makes us age faster. But, it is important to retain our youthful vigor, for it is only with young passion and energy that we can work towards success, enjoy a peaceful, healthy life, indulge ourselves in the pleasure of sex, and keep ourselves happy.
              image:
              name: Beatrice Warren
              link: #
              linkText: Read Full Story
      - type: gallery
        imageFeatured: assets/img/cards/ball-shooter.jpg
        images:
          - image: assets/img/cards/ball-pit.jpg
          - image: assets/img/cards/climbing-wall.jpg
          - image: assets/img/cards/house-tv.jpg
          - image: assets/img/cards/turtle-mural.jpg
          - image: assets/img/cards/treehouse.jpg
          - image: assets/img/cards/tent.jpg
      - type: title
        title: Want to learn more? Let’s Chat!
        icon: phone
      - type: content-columns
        columns: 6
        class: text-center
        body:
          - content: We are here for you, happy to help you start your next great project or just answer questions or call us at 604-507-1260.
      - type: contact-large
  - theme: blue
    illustrationBg: assets/img/illustration-bg-02.png
    modules:
      - type: title
        title: Lots of Toddler Stuff
      - type: cards-circle
        col3: true
        cards:
          - image:
            link: article.html
            title: Finishing Touches
            text: Youngsters can find our play equipment super exciting!
          - image: assets/img/cards/house-tv.jpg
            link: article.html
            title: Playground Theming
            text: Youngsters can find our play equipment super exciting!
          - image: assets/img/cards/fish-table.jpg
            link: article.html
            title: Funiture & Accessories
            text: Youngsters can find our play equipment super exciting!
          - image: assets/img/cards/turtle-mural.jpg
            link: article.html
            title: Murals & Logos
            text: Youngsters can find our play equipment super exciting!
          - image:
            link: article.html
            title: Finishing Touches
            text: Youngsters can find our play equipment super exciting!
          - image: assets/img/cards/house-tv.jpg
            link: article.html
            title: Playground Theming
            text: Youngsters can find our play equipment super exciting!
  - theme: gradient-blue
    modules:
      - type: title
        title: Even more to explore!
      - type: cards
        cards:
          - image: assets/img/cards/ball-pit.jpg
            link: //facebook.com
            category: FaceBook
            title: It Was All Fun And Games Until..
            text: There are several ways people can make money online. From selling products to advertising. In this article I am going to explain the concept of contextual advertising
            hover: true
          - image: assets/img/cards/tent.jpg
            link: product.html
            category: Projects
            title: Up Coming project in Vancouver
            text: There are several ways people can make money online. From selling products to advertising. In this article I am going to explain the concept of contextual advertising
            hover: true
          - image: assets/img/cards/sliding-kid.jpg
            link: article.html
            category: Blog
            title: Fun People Say Nice Things
            text: There are several ways people can make money online. From selling products to advertising. In this article I am going to explain the concept of contextual advertising
            hover: true
---


{%- extends "layout.njk" %}

{%- block title %}{{ title }}{%- endblock %}

{%- block content %}

{%- from "block.njk" import renderContentBlock %}
{%- for block in contentBlocks %}
{{ renderContentBlock(block) }}
{%- endfor %}

{%- endblock %}
