---
title: Wish list
contentBlocks:
  - fluid: true
    bg: assets/img/jump-jacks.jpg
    modules:
      - type: hero-small
  - theme: white
    modules:
      - type: title
        title: Your wish list
        class: text-muted
        headingLevel: 1
        icon: rocket
      - type: content-columns
        columns: 9
        class: text-center
        body: 
          - content: We are happy to answer any questions you might have <a href="tel:6045071260">604 507-1260</a>.
      - type: title
        title: "Nothing in your list, why not start here:"
      - type: cards-feature
        cardsFeature:
          - image: assets/img/cards/treehouse.jpg
            link: product.html
            class: card-featured
            title: Playgrounds
            text: Youngsters find our play equipment exciting and challenging and will play for hours on our well designed and well themed soft indoor playgrounds.
            hover: true
        cards:
          - image: assets/img/cards/playground.jpg
            link: product.html
            title: Toddler Areas
            text: Youngsters can find our play equipment super exciting!
            hover: true
          - image: assets/img/cards/house-tv.jpg
            link: product.html
            title: Theming
            text: Youngsters can find our play equipment super exciting!
            hover: true
          - image: assets/img/cards/climbing-wall.jpg
            link: product.html
            title: Climbing Walls
            text: Youngsters can find our play equipment super exciting!
            hover: true
          - image: assets/img/cards/turtle-mural.jpg
            link: product.html
            title: Branding & Murals
            text: Youngsters can find our play equipment super exciting!
            hover: true
  - theme: orange
    illustrationBg: assets/img/illustration-bg-03.png
    modules:
      - type: title
        title: Proven Fun
      - type: cards-circle
        cards:
          - image:
            link: article.html
            title: Interactive Floor
            text: Youngsters can find our play equipment super exciting!
          - image:
            link: article.html
            title: Race Track/Plasma
            text: Youngsters can find our play equipment super exciting!
          - image: assets/img/cards/fish-table.jpg
            link: article.html
            title: Soft 'n Safe
            text: Youngsters can find our play equipment super exciting!
          - image:
            link: article.html
            title: Imagination blocks
            text: Youngsters can find our play equipment super exciting!
  - theme: white
    modules:
      - type: contact-small
        title: We like questions
        buttonText: Get Answer Now
        placeholder: Write a quetion please
  - theme: blue
    illustrationBg: assets/img/illustration-bg-02.png
    modules:
      - type: title
        title: Lots of Toddler Stuff
      - type: cards-circle
        cards:
          - image:
            link: article.html
            title: Finishing Touches
            text: Youngsters can find our play equipment super exciting!
          - image: assets/img/cards/house-tv.jpg
            link: article.html
            title: Playground Theming
            text: Youngsters can find our play equipment super exciting!
          - image: assets/img/cards/fish-table.jpg
            link: article.html
            title: Funiture & Accessories
            text: Youngsters can find our play equipment super exciting!
          - image: assets/img/cards/turtle-mural.jpg
            link: article.html
            title: Murals & Logos
            text: Youngsters can find our play equipment super exciting!
---


{%- extends "layout.njk" %}

{%- block title %}{{ title }}{%- endblock %}

{%- block content %}

{%- from "block.njk" import renderContentBlock %}
{%- for block in contentBlocks %}
{{ renderContentBlock(block) }}
{%- endfor %}

{%- endblock %}
