<div class="row justify-content-center">
	<div class="col-lg-8 col-md-10">
		<h1>{{ module.title }}</h1>
		<p>{{ module.intro }}</p>
		{% for item in module.list %}
			<div class="media align-items-center">
				<div class="media-img-circle align-self-start mr-3" style="background-image: url()"></div>
				<div class="media-body">
					<h3>{{ item.title }}</h3>
					<p>{{ item.description }}</p>
				</div>
			</div>
		{% endfor%}
		<hr/>
		<div class="share-container">
			Share article
			<ul class="list-inline">
				<li class="list-inline-item">
					<a href="" class="btn btn-icon btn-tertiary">
						<i class="fab fa-facebook"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
