<div class="card{% if card.class %} {{ card.class }}{% endif %}">
  <div class="card-img-top">
    <div class="card-img" style="background-image: url({{ card.image }})"></div>
  </div>
  <div class="card-body">
    <div class="card-content">
      {% if card.category %}
      <span class="card-category">
        {{ card.category }}
      </span>
      {% endif %}
      <h4 class="card-title">
        {{ card.title }}
      </h4>
      <p class="card-text">
        {{ card.text }}
      </p>
    </div>
    {% if card.linkText %}
    <a href="{{ card.link }}" class="btn btn-primary">{{ card.linkText }}</a>
    {% else %}
    <a href="{{ card.link }}" class="card-button">
      <span class="button-icon"><i class="fas fa-arrow-right"></i></span>
      <span class="button-hidden-text">Go</span>
    </a>
    {% endif %}
    {% if card.hover %}
    <svg class="card-hover" viewBox="0 0 400 400" preserveAspectRatio="xMinYMin slice">
     <!-- <path class="st0" d="M400,25.27c0,0-57.72-15.27-200-15.27S0,25.27,0,25.27V400h400V25.27z"/> -->
     <path class="card-hover-box" d="M400,25.27c0,0-178.21,0-200,0s-200,0-200,0V400h400V25.27z"/>
    </svg>
    {% endif %}
  </div>
</div>