<div class="row card-container card-container-circle">
  {% for card in module.cards %}
    <div class="col-lg-3 col-sm-6 d-flex">
      {% include "modules/card.njk" %}
    </div>
  {% endfor %}
</div>