<div class="row justify-content-center card-container card-container-circle card-large">
  {% for card in module.cards %}
    <div class="col-lg-8">
      {% include "modules/card.njk" %}
    </div>
  {% endfor %}
</div>