<div class="row card-container card-container-circle">
  {% for card in module.cards %}
    <div class="{% if module.col3 %}col-lg-4{% else %}col-lg-3{% endif %} col-sm-6 d-flex">
      {% include "modules/card.njk" %}
    </div>
  {% endfor %}
</div>