<div class="row">
  <div class="col-lg-8">
    <div class="row card-container card-container-stacked">
        {% for card in module.cards %}
          <div class="col-sm-6 d-flex">
            {% include "modules/card.njk" %}
          </div>
        {% endfor %}
      </div>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">
        <h4>Request a Qoute</h4>
      </div>
    </div>
  </div>
</div>

