<div class="row">
  <div class="col-lg-8">
    <div class="row card-container card-container-stacked">
        {% for card in module.cards %}
          <div class="col-sm-6 d-flex">
            {% include "modules/card.njk" %}
          </div>
        {% endfor %}
      </div>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">
        <h4 class="mb-3">Request a Qoute</h4>
        <form action="" method="post">
          <div class="row">
            <div class="form-group col-12">
              <div class="form-container-underline">
                <input type="text" class="form-control form-control-underline" name="firstname" id="firstname">
                <div class="form-control-decor"></div>
                <label for="firstname" class="form-control-label">First name*</label>
              </div>
            </div>
            <div class="form-group col-12">
              <div class="form-container-underline">
                <input type="text" class="form-control form-control-underline" name="lastname" id="lastname">
                <div class="form-control-decor"></div>
                <label for="lastname" class="form-control-label">Last name*</label>
              </div>
            </div>
            <div class="form-group col-12">
              <div class="form-container-underline">
                <input type="text" class="form-control form-control-underline" name="email" id="email">
                <div class="form-control-decor"></div>
                <label for="email" class="form-control-label">Email*</label>
              </div>
            </div>
            <div class="form-group col-12">
              <div class="form-container-underline">
                <input type="text" class="form-control form-control-underline" name="phone" id="phone">
                <div class="form-control-decor"></div>
                <label for="phone" class="form-control-label">Phone</label>
              </div>
            </div>
            <div class="form-group col-12">
              <div class="form-container-underline">
                <input type="text" class="form-control form-control-underline" name="promocode" id="promocode">
                <div class="form-control-decor"></div>
                <label for="promocode" class="form-control-label">Promo code</label>
              </div>
            </div>
            <div class="form-group col-12">
              <div class="form-container-underline">
                <input type="text" class="form-control form-control-underline" name="country" id="country">
                <div class="form-control-decor"></div>
                <label for="country" class="form-control-label">Country*</label>
              </div>
            </div>
            <div class="form-group col-12">
              <div class="form-container-underline">
                <input type="text" class="form-control form-control-underline" name="province" id="province">
                <div class="form-control-decor"></div>
                <label for="province" class="form-control-label">Province*</label>
              </div>
            </div>
            <div class="form-group col-12">
              <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

