<div class="row card-container card-container-stacked">
  <div class="col-lg-6 d-flex">
    {% for card in module.cardsFeature %}
      {% include "modules/card.njk" %}
    {% endfor %}
  </div>
  <div class="col-lg-6">
    <div class="row">
      {% for card in module.cards %}
        <div class="col-sm-6 d-flex">
          {% include "modules/card.njk" %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>