<div class="article row justify-content-center mb-5">
  {% if module.title -%}
	<div class="col-12">
		<h1>{{ module.title }}</h1>
  </div>
  {%- endif %}
  {% for item in module.body -%}
  <div class="col-12 col-md-{{ module.columns }}{{ " " + module.class if module.class }}">
    {% if item.contentQuote %}
      <div class="blockquote-container">
        <blockquote class="blockquote">
          {{ item.contentQuote.quote }}
        </blockquote>
        <div class="blockquote-cite media align-items-center">
          <div class="media-img-circle" style="background-image: url({{ item.image }})"></div>
          <div class="media-item">
            <span class="cite-name">
              {{ item.contentQuote.name }}
            </span>
            <a class="cite-link" href="{{ item.contentQuote.link }}">
              {{ item.contentQuote.linkText }}
            </a>
          </div>
        </div>
      </div>
    {% else %}
      <p>{{ item.content | safe }}</p>
    {% endif %}
  </div>
  {%- endfor %}
</div>
