<div class="row">
	<div class="col-12">
    {% if module.text %}<p>{{ module.text }}</p>{% endif %}
    <form action="" method="post">
      <div class="form-row">
        <div class="form-group col-md-4">
          <div class="form-container-underline">
            <input type="text" class="form-control form-control-underline" name="firstname" id="firstname">
            <div class="form-control-decor"></div>
            <label for="firstname" class="form-control-label">First name</label>
          </div>
        </div>
        <div class="form-group col-md-4">
          <div class="form-container-underline">
            <input type="text" class="form-control form-control-underline" name="lastname" id="lastname">
            <div class="form-control-decor"></div>
            <label for="lastname" class="form-control-label">Last name</label>
          </div>
        </div>
        <div class="form-group col-md-4">
          <div class="form-container-underline">
            <input type="text" class="form-control form-control-underline" name="email" id="email">
            <div class="form-control-decor"></div>
            <label for="email" class="form-control-label">Email</label>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <div class="form-container-underline">
            <input type="text" class="form-control form-control-underline" name="phone" id="phone">
            <div class="form-control-decor"></div>
            <label for="phone" class="form-control-label">Phone number</label>
          </div>
        </div>
        <div class="form-group col-md-8">
          <div class="form-container-underline">
            <input type="text" class="form-control form-control-underline" name="address" id="address">
            <div class="form-control-decor"></div>
            <label for="address" class="form-control-label">Address</label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="form-container-underline">
          <textarea class="form-control form-control-underline" id="comments" rows="3"></textarea>
          <div class="form-control-decor"></div>
          <label for="comments" class="form-control-label">Comments</label>
        </div>
      </div>
      <div class="form-group text-right">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
