<div class="article row justify-content-center mb-5">
  {% if module.title -%}
	<div class="col-12">
		<h1>{{ module.title }}</h1>
  </div>
  {%- endif %}
  {% for i in range(0, module.columns) -%}
  <div class="col-12 col-md-{{ (12 / module.columns) | int }}">
    {% if module.contentQuote and loop.last %}
      <div class="blockquote-container">
        <blockquote class="blockquote">
          {{ module.contentQuote.quote }}
        </blockquote>
        <div class="blockquote-cite media align-items-center">
          <div class="media-img-circle" style="background-image: url({{ item.image }})"></div>
          <div class="media-body">
            <span class="cite-name">
              {{ module.contentQuote.name }}
            </span>
            <a class="cite-link" href="{{ module.contentQuote.link }}">
              {{ module.contentQuote.linkText }}
            </a>
          </div>
        </div>
      </div>
    {% else %}
      <p>{{ module.content | safe }}</p>
    {% endif %}
  </div>
  {%- endfor %}
</div>
