<div class="row">
  <div class="col-12">
    <div class="gallery" id="{{module.id}}">
      <div class="row">
        <div class="col-lg-6">
          <a href="{{ module.imageFeatured }}" data-slide="0" class="gallery-image gallery-image-main"></a>
        </div>
        <div class="col-lg-6">
          <div class="row">
            {% for item in module.images %}
            <div class="col-6 col-md-4">
              <a href="{{ item.image }}" class="gallery-image" data-slide="{{ loop.index }}">
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

