<div class="row">
  <div class="col-12">
    <div class="gallery">
      <div class="row">
        <div class="col-lg-6">
          <a href="#gallery-dialog" data-toggle="modal" data-slide="0" class="gallery-image gallery-image-main" style="background-image: url({{ module.imageFeatured }})"></a>
        </div>
        <div class="col-lg-6">
          <div class="row">
            {% for item in module.images %}
            <div class="col-6 col-md-4">
              <a href="#gallery-dialog" data-toggle="modal" data-slide="{{ loop.index }}" class="gallery-image" style="background-image: url({{ item.image }})">
                {% if loop.last %}
                  <div class="gallery-link">
                    <span class="number">22</span>
                    Click to see them all
                  </div>
                {% endif %}
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

