<div class="row">
  <div class="col-md-8 col-lg-6">
    <div class="jumbotron">
      <h1 class="display-4">{{module.title}}</h1>
      <p class="lead">{{module.subtitle}}</p>
      {# <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> #}
      <p>
        <a class="btn btn-primary btn-lg" href="#" role="button">{{module.button}}</a>
      </p>
    </div>
  </div>
</div>
