<div class="hero{{ " " + module.class if module.class }}">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-6">
        <div class="jumbotron">
          <h1>{{ module.title }}</h1>
          <p class="lead">{{ module.subtitle }}</p>
          <p><a class="btn btn-primary btn-lg" href="{{ module.buttonLink }}" role="button">{{ module.button }}</a></p>
          <div class="hero-moon-svg-container">
            <img class="hero-moon-svg" src="assets/img/moon.svg" alt="Moon">
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include module.include if module.include %}
</div>
