<div class="row">
  <div class="col-12 px-0">
    <!-- container -->
    <div class="swiper-container logo-slider">
      <!-- wrapper -->
      <div class="swiper-wrapper">
        <!-- slides -->
        {% for slide in module.slides %}
          {% for i in range(1, 7) -%}
          <div class="swiper-slide">
            <a href="{{ slide.link }}" target="_blank" title="{{ slide.title }}">
              <img data-src="{{ slide.image + i }}.jpg" alt="{{ slide.alt }}" class="swiper-lazy">
              <div class="swiper-lazy-preloader"></div>
            </a>
          </div>
          {%- endfor %}
        {% endfor %}
        <!-- / slides -->
      </div>
      <!-- / wrapper -->
    </div>
    <!-- / container -->
  </div>
</div>
