<div class="row">
  <div class="col-lg-10 offset-lg-1 offset-md-0">
    <h{{ module.headingLevel if module.headingLevel else 1 }} class="text-center content-block-title {{ module.class }}">
      <span class="content-block-title-icon">
        <i class="fas fa-phone"></i>
      </span>
      {{ module.title }}
    </h{{ module.headingLevel if module.headingLevel else 1 }}>
  </div>
</div>
